:root {
  --cc-color-white: #ffffff;
  --cc-color-black: #000000;
  --cc-color-primary: #409eff;
  --cc-color-primary-light-3: #79bbff;
  --cc-color-primary-light-5: #a0cfff;
  --cc-color-primary-light-7: #c6e2ff;
  --cc-color-primary-light-8: #d9ecff;
  --cc-color-primary-light-9: #ecf5ff;
  --cc-color-primary-dark-2: #337ecc;
  --cc-color-success: #67c23a;
  --cc-color-success-light-3: #95d475;
  --cc-color-success-light-5: #b3e19d;
  --cc-color-success-light-7: #d1edc4;
  --cc-color-success-light-8: #e1f3d8;
  --cc-color-success-light-9: #f0f9eb;
  --cc-color-success-dark-2: #529b2e;
  --cc-color-warning: #e6a23c;
  --cc-color-warning-light-3: #eebe77;
  --cc-color-warning-light-5: #f3d19e;
  --cc-color-warning-light-7: #f8e3c5;
  --cc-color-warning-light-8: #faecd8;
  --cc-color-warning-light-9: #fdf6ec;
  --cc-color-warning-dark-2: #b88230;
  --cc-color-danger: #f56c6c;
  --cc-color-danger-light-3: #f89898;
  --cc-color-danger-light-5: #fab6b6;
  --cc-color-danger-light-7: #fcd3d3;
  --cc-color-danger-light-8: #fde2e2;
  --cc-color-danger-light-9: #fef0f0;
  --cc-color-danger-dark-2: #c45656;
  --cc-color-error: #f56c6c;
  --cc-color-error-light-3: #f89898;
  --cc-color-error-light-5: #fab6b6;
  --cc-color-error-light-7: #fcd3d3;
  --cc-color-error-light-8: #fde2e2;
  --cc-color-error-light-9: #fef0f0;
  --cc-color-error-dark-2: #c45656;
  --cc-color-info: #909399;
  --cc-color-info-light-3: #b1b3b8;
  --cc-color-info-light-5: #c8c9cc;
  --cc-color-info-light-7: #dedfe0;
  --cc-color-info-light-8: #e9e9eb;
  --cc-color-info-light-9: #f4f4f5;
  --cc-color-info-dark-2: #73767a;
  --cc-bg-color: #ffffff;
  --cc-text-white: #ffffff;
  --cc-bg-color-page: #f2f3f5;
  --cc-bg-color-overlay: #ffffff;
  --cc-text-color-primary: #303133;
  --cc-text-color-regular: #606266;
  --cc-border-radius-base: 4px;
  --cc-border-radius-md: 8px;
  --cc-border-radius-large: 12px;
  --cc-text-base: 14px;
  --cc-text-md: 16px;
  --cc-text-large: 18px;
  --cc-disabled-text-color: #a8abb2;
  --cc-z-index: 2022;
}
