.cc-form {
  &-item {
    position: relative;
    margin-bottom: 20px;
    font-size: 14px;
    &__label {
      position: relative;
      display: flex;
      align-items: center;
      &-required {
        &.cc-form-item-label {
          &::before {
            content: '*';
            color: red;
            margin-right: 4px;
          }
        }
      }
    }
    &__content {
      position: relative;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      align-items: center;
      line-height: 32px;
      font-size: 14px;
    }
    &__error {
      font-size: 12px;
      color: red;
      position: absolute;
      bottom: -20px;
      left: 0;
      line-height: 20px;
    }
  }
}
